/.idea/.name
/manual/.~lock.UI_Flow.odt#
/test/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/a.out
/test/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/test/cmake-build-debug/CMakeFiles/cmake.check_cache
/test/cmake-build-debug/cmake_install.cmake
/test/cmake-build-debug/CMakeCache.txt
/test/cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
/test/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
/test/cmake-build-debug/Testing/Temporary/LastTest.log
/test/cmake-build-debug/Makefile
/test/cmake-build-debug/myprogram.cbp
